.jumbotron {
	background-color: lightgreen;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: lightgreen;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-sse {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-consulta {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}